<a href="https://colab.research.google.com/github/pristanti/GUI-beginner/blob/master/Go_Play_Take_home_aasignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade gspread

Collecting gspread
  Downloading https://files.pythonhosted.org/packages/9c/ba/bc8de4f5077bd34bc873bdd67a89cb29c4f181abba8a836d2c6a0a142365/gspread-3.6.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (2.23.0)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (0.4.2)
Requirement already satisfied, skipping upgrade: google-auth>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from gspread) (1.17.2)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2020.6.20)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.6)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied, skipping upgrade: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (50.3.2)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.1.1)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Requirement already satisfied, skipping upgrade: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3"->google-auth>=1.12.0->gspread) (0.4.8)
Installing collected packages: gspread
  Found existing installation: gspread 3.0.1
    Uninstalling gspread-3.0.1:
      Successfully uninstalled gspread-3.0.1
Successfully installed gspread-3.6.0

In [2]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('Go Play - Assignment').sheet1

In [7]:
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

In [4]:
# Convert to a DataFrame and render.
import pandas as pd
tableA = pd.DataFrame.from_records(rows, columns=rows[0])
tableA.drop(index=0, axis=1, inplace=True)
tableA.head(10)

        Date Month # of Orders Status of Order    Total CBV     Service
1   01/01/16     1         180       Cancelled   76.076.000      GO-BOX
2   01/01/16     1          10       Cancelled    1.960.140    GO-CLEAN
3   01/01/16     1       28380       Cancelled  489.898.500     GO-FOOD
4   01/01/16     1           0       Cancelled          728     GO-GLAM
5   01/01/16     1          10       Cancelled        136.5    GO-KILAT
6   01/01/16     1        1710       Cancelled   23.933.000     GO-MART
7   01/01/16     1          80       Cancelled   14.714.700  GO-MASSAGE
8   01/01/16     1       33230       Cancelled  855.767.640     GO-RIDE
9   01/01/16     1        1760       Cancelled   66.238.900     GO-SEND
10  01/01/16     1        9280       Cancelled  236.874.820     GO-SHOP

In [5]:
tableA["Total CBV"] = tableA["Total CBV"].str.replace("-", "0")
tableA.head(12)

        Date Month # of Orders Status of Order    Total CBV     Service
1   01/01/16     1         180       Cancelled   76.076.000      GO-BOX
2   01/01/16     1          10       Cancelled    1.960.140    GO-CLEAN
3   01/01/16     1       28380       Cancelled  489.898.500     GO-FOOD
4   01/01/16     1           0       Cancelled          728     GO-GLAM
5   01/01/16     1          10       Cancelled        136.5    GO-KILAT
6   01/01/16     1        1710       Cancelled   23.933.000     GO-MART
7   01/01/16     1          80       Cancelled   14.714.700  GO-MASSAGE
8   01/01/16     1       33230       Cancelled  855.767.640     GO-RIDE
9   01/01/16     1        1760       Cancelled   66.238.900     GO-SEND
10  01/01/16     1        9280       Cancelled  236.874.820     GO-SHOP
11  01/01/16     1         160       Cancelled            0      GO-TIX
12  01/01/16     1         470       Completed  193.458.265      GO-BOX

In [6]:
# create, and save df
from gspread_dataframe import set_with_dataframe
title = 'Go Play - Assignment-2'
gc.create(title)
sheet = gc.open(title).sheet1
set_with_dataframe(sheet, tableA) 
tableA

          Date Month # of Orders  Status of Order    Total CBV     Service
1     01/01/16     1         180        Cancelled   76.076.000      GO-BOX
2     01/01/16     1          10        Cancelled    1.960.140    GO-CLEAN
3     01/01/16     1       28380        Cancelled  489.898.500     GO-FOOD
4     01/01/16     1           0        Cancelled          728     GO-GLAM
5     01/01/16     1          10        Cancelled        136.5    GO-KILAT
...        ...   ...         ...              ...          ...         ...
3167  31/03/16     3        1870  No Driver Found   71.449.560     GO-SEND
3168  31/03/16     3         120  No Driver Found    5.418.140     GO-SHOP
3169  31/03/16     3           0            Other        555.1  GO-MASSAGE
3170  31/03/16     3           0            Other        49.14     GO-RIDE
3171  31/03/16     3           0            Other         18.2      GO-TIX

[3171 rows x 6 columns]